{{#> layouts._html-shell
    pageClass="v_activity"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="v_activity__hero c_hero-yellow">
    <div class="row row--center">

        <div class="col col-px col-12 md-col-6 lg-col-3 xl-col-3">
            <div class="c_hero-yellow__picture-wrapper">
                <div class="c_hero-yellow__picture">
                    <img src="thumbnail.png" alt="{{title}}">
                </div>
            </div>
        </div>

        <div class="col col-px col-12">
            <div class="c_hero-yellow__title-wrapper">
                <h1 class="c_hero-yellow__title">{{title}}</h1>
                <address class="c_hero-yellow__author">{{localize "author" author}}</address>
            </div>
        </div>        

        <div class="col col-px col-12">
            <div class="c_hero-yellow__specs">

                <div class="c_hero-yellow__boards">
                    <h3 class="c_hero-yellow__boards-title c_title-small">
                        {{> svg.icon-board-20x20 }}
                        {{localize "boards"}}:
                    </h3>
                    <div class="c_hero-yellow__boards-list">
                        {{#each boards}}
                        <span class="c_comma-separated">{{localize this}}</span>
                        {{/each}}
                    </div>
                </div>

                <div class="c_hero-yellow__components">
                    <h3 class="c_hero-yellow__components-title c_title-small">
                        {{> svg.icon-component-20x20 }}
                        {{localize "components"}}:
                    </h3>
                    <div class="c_hero-yellow__components-list">
                        {{#if components}}
                            {{#each components}}
                            <span class="c_comma-separated">{{localize this}}</span>
                            {{/each}}
                        {{else}}
                            <span>{{localize 'no-components'}}</span>
                        {{/if}}
                    </div>
                </div>

            </div>
        </div>        

    </div>
</header>


<div class="contents">
    <div class="row">


        <!-- Sidebar Contents -->
        <div class="col col-px col-12 lg-col-3 xl-col-3">
            {{#if (or has-guide has-card has-project)}}
            <aside class="v_activity__side-block">
                <h3 class="v_activity__side-title">
                    {{localize "resources"}}
                </h3>
                <div>

                    {{> _button
                        href='./activity-card.pdf'
                        title='Hola'
                        icon='svg.icon-scripts-20x20'
                        arrow='svg.icon-arrow-right-16x16'
                        download=false
                    }}
                    
                    {{#if has-card}}
                    <a class="c_button" href="./activity-card.pdf">
                        {{> svg.icon-document-20x20 }}
                        {{localize "activity-card"}}
                    </a>
                    {{> _button
                        href='./activity-card.pdf'
                        title={{localize "activity-card"}}
                        icon='svg.icon-scripts-20x20'
                        arrow='svg.icon-arrow-right-16x16'
                        download=false
                    }}
                    {{/if}}

                    {{#if has-guide}}
                    <a class="c_button" href="./guide">
                        {{> svg.icon-student-16x16 }}
                        {{localize "teachers-guide"}}
                    </a>
                    {{/if}}

                    {{#if has-project}}
                    <a class="c_button" href="./project.ubp" download>
                        {{> svg.icon-scripts-20x20 }}
                        MicroBlocks Project
                    </a>
                    {{/if}}

                </div>
            </aside>
            {{/if}}

            <aside class="v_activity__side-block">
                <h3 class="v_activity__side-title">
                    {{localize "activity-details"}}
                </h3>
                <div class="__v_activity__side-box __v_activity__side-box--details">
                    
                    <div class="v_activity__details-group">
                        <h4 class="v_activity__details-group-title c_title-small">
                            {{> svg.icon-student-16x16 }}
                            {{localize "lbl-level"}}
                        </h4>
                        <div class="v_activity__details-group-content">
                            {{localize (join "lvl_" level)}}
                        </div>
                    </div>

                    <div class="v_activity__details-group">
                        <h4 class="v_activity__details-group-title c_title-small">
                            {{> svg.icon-duration-16x16 }}
                            {{localize "lbl-duration"}}
                        </h4>
                        <div class="v_activity__details-group-content">
                            {{localize "duration" time.[0] time.[1]}}
                        </div>
                    </div>

                    {{#if topics}}
                    <div class="v_activity__details-group">
                        <h4 class="v_activity__details-group-title c_title-small">
                            {{> svg.icon-topics-16x16 }}
                            {{localize "lbl-topics"}}
                        </h4>
                        <div class="v_activity__details-group-content">
                            {{#each topics}}
                            <span class="c_comma-separated">{{localize this}}</span>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}

                    <div class="v_activity__details-group">
                        <h4 class="v_activity__details-group-title c_title-small">
                            {{> svg.icon-language-16x16 }}
                            {{localize "lbl-languages"}}
                        </h4>
                        
                        <div class="v_activity__details-group-content">
                        {{#if translations}}
                            <ul class="v_activity__details-group-content">
                                {{#each translations}}
                                <li>
                                    <a href="../{{this.slug}}">{{language-name this.langCode}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        {{else}}
                            <span class="v_activity__details-none">No translations available</span>
                        {{/if}}
                        </div>
                        
                    </div>

                </div>
            </aside>

            <aside class="v_activity__side-block v_activity__side-block--printable">
                <h3 class="v_activity__side-title">
                    Translate
                </h3>
                <div>
                    <p>
                        Help us translating the contents of the actvity card to your language!
                    </p>
                    <a class="c_button-small" href="#">
                        {{> svg.icon-slides-16x16 }}
                        <span>Open in Google Slides</span>
                    </a>
                </div>
            </aside>

            <aside class="v_activity__side-block v_activity__side-block--printable">
                {{!-- <h3 class="v_activity__side-title">
                    {{localize "lbl-printable"}}
                </h3> --}}
                <div>
                    <p>{{localize "printable-txt"}}</p>
                    <a class="c_button-small" href="#">
                        {{> svg.icon-printer-16x16 }}
                        <span>{{localize "btn-printable"}}</span>
                    </a>
                </div>
            </aside>

        </div><!-- Sidebar Contents -->


        <!-- Activity Text -->
        <div class="col col-px col-12 lg-offset-1 lg-col-8 xl-offset-1 xl-col-8">
            <article class="v_activity__contents wysiwyg">

                {{! insert the compiled markdown for this particular activity }}
                {{#markdown markdown}}{{/markdown}}

            </article>
        </div><!-- Activity Text -->


    </div>
    <script>processImagesForCode();</script>
</div>

{{/inline}}

{{/layouts._html-shell }}
