{{#> layouts._html-shell
    pageClass="page-activity"
    pageUrl="https://learn.microblocks.fun/"
    pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}
<h1>{{title}}</h1>
<small>{{localize "author" author}}</small>
<div>
{{#if has-guide}}
    <a href="./guide">Teacher's Guide</a>
{{/if}}
{{#if has-card}}
    <a href="./card">Activity Card</a>
{{/if}}
</div>
<div>
    <h3>Available Languages</h3>
    {{#each translations}}
    <a href="/{{this.langCode}}/activities/{{this.slug}}">{{this.title}}</a>
    {{/each}}
</div>
{{! insert the compiled markdown for this particular activity }}

{{#markdown markdown}}{{/markdown}}

{{/inline}}

{{/layouts._html-shell }}
