<select class="locale" onchange="setLang(this.value)">
    {{#each locales}}
    <option>{{this}}</option>
    {{/each}}
</select>
<script>
    document.querySelector('select.locale').value =
        document.documentElement.lang;
</script>
<nav>
{{#markdown}}
[{{@root.locale.index-nav-item}}](/{{@root.locale.code}}/index)
[{{@root.locale.activities-nav-item}}](/{{@root.locale.code}}/activity-list)
{{/markdown}}
</nav>
